<div class="task-manager">
  <div class="task-input">
    <input type="text" placeholder="Task Title" [(ngModel)]="newTask.title">
    <textarea placeholder="Task Description" [(ngModel)]="newTask.description" ></textarea>
    <button (click)="addTask()">Submit</button>
  </div>
  
  <div class="task-list">
    <div class="task-card" *ngFor="let task of tasks">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <p>{{temp}}</p>
      <div class="options">
        <!-- <button class="btn btn-primary" (click)="editTask(task.title)">Edit</button> -->
        <button class="btn btn-danger" (click)="DeleteTask(task.title)">Delete</button>
      </div>
    </div>
  </div>
</div>

